.glass-container {
  min-width: 300px;
    padding-block: 20px;
    background-color: rgba(255, 255, 255, 0.2); /* Background color with opacity */
    border-radius: 10px; /* Rounded corners for the container */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Box shadow for depth */
    backdrop-filter: blur(10px); /* Apply the frosted glass effect */
  }

  .glass-container-nav {
    background-color: rgba(101, 39, 39, 0.2); /* Background color with opacity */
    border-radius: 10px; /* Rounded corners for the container */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Box shadow for depth */
    backdrop-filter: blur(10px); /* Apply the frosted glass effect */
  }

  .login-container{
    background-image: url('/public/actual.png');
    background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  }